.App {
  text-align: center;
  background-image: url(https://harthouse.ca/assets/images/uploads/theatre-shows/hht-banner-season-default-duo.jpg);
  background-position: center;
  background-size:cover;
  width: 100%;
  max-height: fit-content;
  min-height:100vh;
/* z-index: -2; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* header  */
.App-header {
  background-color: #110516;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(8px + 1.5vmin);
  color: white;
}
.header-navbar{
  display: flex;
  width: 160px;
  justify-content: space-between;
  list-style: none;

}
.header-navbar-watchlist{
  display: flex;
  width: 250px;
  justify-content: space-between;
  list-style: none;

}
.movie-logo-img{
  width: 80px;
  height: 65px;
  margin-left: 0px;
}

/* movie list */
/* movie nav bar */
.movie-list-navbar{
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-left: 3.3em;
  margin-top: 2em;
  border-radius: .5em;

}
.movie-nav-btn{
  color: rgb(22, 12, 12);
  background-color: rgba(209, 202, 202, 0.952);
  padding: 8px;
  width: 10em;
}
.movie-nav-btn-clicked{
  color: #fff;
  background-color: rgba(110, 53, 36, 0.89);
  padding: 8px;
  width: 10em;
}

/* movie card */
.rating-btn{
  border-radius: 50%;
  width: 2.65em;
  border: rgb(95, 32, 21) solid 1px;
  margin-bottom: 28%;
}
.movie-poster{
  width: 100%;
  height: 280px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.movie-card-footer{
  display:flex;
  color:rgb(248, 239, 239);
  background-color:rgb(15, 14, 14);
  height:7em;
  justify-content: space-between;
  padding: 8px 5px;
  max-height: fit-content;
}
.release-title-box{
  text-align: start;
  padding: 4px;
}
.title{
  text-align: start;
  color:#fff;
  font-size: 14px;
  margin-bottom:5px;
 
}
.release-date{
  text-align: start;
  font: .8em sans-serif;
  
}
/* login and register form */
.login-form{
    background-color: rgba(28, 24, 36, 0.561);
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    min-height: 400px;
    padding: 20px;
    margin: 2.5em 34%;
   /* text-align: start; */
  
}
.register-form{
  text-align: start;
}
.fas{
  background-color: #fff;
}
/* movie page  */
.moviepage-container{
  text-align: start;
  margin: 0 80px;
  margin-top: 40px;
}
.movie-poster-on-moviepage{
  height: 400px;
  width: 280px;
}
.description-moviepage{
  color: #fff;
  background-color: rgba(28, 29, 36, 0.486);
}
.title-watchlist-moviepage{
  display: flex;
  justify-content: space-between;
  padding: 6px 15px;
  justify-items: flex-start;
}
.watchlist-btn-moviepage{
   align-self: start;
}
.description-genre-moviepage{
  padding: 20px;
  /* padding-left: 20px; */

}
.title-moviepage{
  color: rgba(255, 0, 212, 0.842);
  text-align: start;
}
.rating-moviepage{
  margin-top: 10px;
  border-radius: 50%;
  width: 3.1em;
  border: rgb(63, 16, 8) solid 2px;
  margin-bottom: 1.9em;
}
.actor-heading{
  color: #fff;
 font-style: initial;
}
.gallary-heading{
  color: #fff;
  font-style: initial;
}
.actor-moviepage{
  background-color: #fff;
  height: 300px;
}
/* footer */
.movie-list-footer{
  margin-top: 1em;
  width:100%;
  padding-bottom: 2em;
}
.page-btn{
  color:#fff;
  font-size: 1.32em;
  padding: 5px 22px;
  font-weight: 100em;
}
/* my watchlist */
.my-watchlist-title{
  color: rgba(255, 255, 255, 0.911);
  text-align: start;
  padding: 20px;
}
/* search movies */
.search-heading{
  text-align: start;
  color: #fff;
  padding: 30px;
}
.searchNotFound{
  color: rgba(126, 86, 22, 0.904);
  font-size:3em;
}
.btn-search{
  margin-left: -4px;
  color: rgb(20, 20, 20);
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 4.5px ;
  text-align: center;
  align-self:center;
}